


.contentContainer{
    width: 79%;
    position: relative;
    height: 100%;
   
}
.writeRecipePost{
    position: absolute;
    right: -15.5%;
    top: 13%;
}




.postsContainer{
    height: 100%;
    padding-top: 8%;
    box-sizing: border-box;
}